p {
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: .5rem;
    background-color: rgba(white, .7);
  }
.current-sentence {
    background-color: rgb(238, 119, 119);
}

.buttons-header {
    display: flex;

    button {
        flex: 1;
        padding: 1rem;
        font-size: large;
        cursor: pointer;
    }
}

:host {
    position: relative;
}

img {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: -99;
}
